.info-section {
  &__tiles {
    padding-top: 40px
  }//tiles
  &__textual {
    p {
      font-size: 13px;
      line-height: 1.53;
    }
  }//textual
  &__img {
    &--mt10 {
      margin-top: 1em;
    }
  }
}