mixin contacts()
  .contacts
    a.contacts__toggle(href='javascript: void(0)')
    .contacts__top
      a.contacts__link(href='mailto:info@inln.ru')
        i.icon-pin
        | info@inln.ru
      a.contacts__link(href='http://www.inln.ru/company/contacts/')
        i.icon-map
        | Наши офисы
    .contacts__bottom
      a.contacts__link.contacts__link--phone(href='tel:+74951277888')
        i.icon.icon__phone
        | +7 (495) 1277-888
      a.contacts__link.contacts__link--phone(href='tel:+78002000470')
        i.icon.icon__marker
        | +7 (800) 2000-470