mixin features()
  //- section.features
    header.features__header
      .g-heading
        .container
          h2.g-heading__title
            a(href="/company/") Наши преимущества
    .container
      .feauteres__content
        ul.custom-list
          li.custom-list__item компания основана в 2003 году – более 10 лет опыта создания IT-решений
          li.custom-list__item мы выстраиваем долгосрочные партнерские отношения с клиентами для достижения стратегических целей посредством внедрения инновационных IT-решений
          li.custom-list__item наши сотрудники - специалисты высокого уровня с глубокими отраслевыми и профессиональными знаниями, прошедшие сертификацию Microsoft
          li.custom-list__item все исходные коды прокта передаются по его завершению в открытом виде – вы можете сопровождать решение самостоятельно без потери гарантии
          li.custom-list__item разработка прототипов форм решения для обеспечения максимального удобства использования и эргономики
          li.custom-list__item разработка прототипов форм решения для обеспечения максимального удобства использования и эргономики
          li.custom-list__item итеративный подход к разработке – первая пилотная версия проекта будет предоставлена уже через несколько недель послестарта
          li.custom-list__item служба поддержки пользователей в режиме 24/7/365 – ваш проект будет работать без сбоев
          li.custom-list__item оперативный выезд аналитиков и технических специалистов для встречи в вашем офисе – значительная экономия времени ваших сотрудников
          li.custom-list__item бесплатные обучение и консультации ваших сотрудников
          li.custom-list__item постоянная on-line доступность всех участников рабочей группы – вы всегда будете в курсе всех событий проекта
          li.custom-list__item поэтапная система оплаты по удобному графику
          li.custom-list__item гарантия на все работы и на весь срок эксплуатации