mixin index-tiles()
  section.section-tiles
    .container
      .section-tiles__list
        .section-tiles__item
          .tile
            a(href="/soft/")
              h2.tile__title Корпоративные информационные системы
              .tile__content
                p Комплексная автоматизация деятельности компании и интеграция бизнес-приложений
        .section-tiles__item
          .tile
            a(href="/portal/")
              h2.tile__title Корпоративные порталы SharePoint
              .tile__content
                p Корпоративный портал от эксперта в отрасли для автоматизации бизнес-процессов и повышения эффективности компании
        .section-tiles__item
          .tile
            a(href="/machine-learning/")
              h2.tile__title Машинное обучение
              .tile__content
                p Решение бизнес-проблем с применением технологий искусственного интеллекта
        .section-tiles__item
          .tile
            a(href="/soft/blockchain/")
              h2.tile__title Blockchain технологии
              .tile__content
                p Разработка приложений и автоматизация бизнес-процессов с использованием блокчейн технологий