mixin index-about()
  section.about
    .container
      h2.about__title О компании
      .about__row.row
        .about__text.col-md-6
          p Инлайн - это инновационная IT-компания, предоставляющая полный комплекс услуг по разработке <span class="underlined">программного обеспечения</span>, корпоративных порталов Microsoft SharePoint, Internet-сайтов и систем электронного документооборота на основе новейших технологий Microsoft. Уже более 14 лет мы создаем инновационные IT-решения для обеспечения стабильного роста бизнеса наших клиентов. Мы предоставляем полный спектр услуг - начиная от разработки IT-стратегии развития компании и до сопровождения, а также предлагаем комплексный подход к управлению проектами. Это позволяет нам в кратчайшие сроки разрабатывать надежные IT-решения и информационные системы любой сложности, работающие 24 часа 7 дней в неделю.
          p Наши клиенты - это лидеры российской и мировой экономики. Среди них - ОАО «Газпром», ОАО «МТС», ОАО «Ростелеком», ОАО «ТНК-BP», АПХ «Мираторг», УФПС МО «Почта России», ООО «Экспобанк», ООО «Корал Тревел», ОАО «Новолипецкий Металлургический Комбинат», ОАО «Первая грузовая компания» и многие другие.
        .about__img.col-md-4
          img(src="img/general/imdex-about-lamp-bg.png", alt="lamp")

      .about__footer
        a.btn.btn--more.btn--lightgreen(href="/company/clients/") Узнать больше