include ../includes/_main-slider

section.about
  .container
    h2.about__title О компании
    .about__row.row
      .about__text.col-md-6
        p Инлайн - это инновационная IT-компания, предоставляющая полный комплекс услуг по разработке <span class="underlined">программного обеспечения</span>, корпоративных порталов Microsoft SharePoint, Internet-сайтов и систем электронного документооборота на основе новейших технологий Microsoft. Уже более 14 лет мы создаем инновационные IT-решения для обеспечения стабильного роста бизнеса наших клиентов. Мы предоставляем полный спектр услуг - начиная от разработки IT-стратегии развития компании и до сопровождения, а также предлагаем комплексный подход к управлению проектами. Это позволяет нам в кратчайшие сроки разрабатывать надежные IT-решения и информационные системы любой сложности, работающие 24 часа 7 дней в неделю.
        p Наши клиенты - это лидеры российской и мировой экономики. Среди них - ОАО «Газпром», ОАО «МТС», ОАО «Ростелеком», ОАО «ТНК-BP», АПХ «Мираторг», УФПС МО «Почта России», ООО «Экспобанк», ООО «Корал Тревел», ОАО «Новолипецкий Металлургический Комбинат», ОАО «Первая грузовая компания» и многие другие.
      .about__img.col-md-4
        img(src="img/general/imdex-about-lamp-bg.png", alt="lamp")

    .about__footer
      a.btn.btn--more.btn--lightgreen(href="/company/clients/") Узнать больше

section.clients
  header.g-heading.g-heading--orange-bg.clients__header
    .container
      h2.g-heading__title
        a(href="/") Наши клиенты
  .container
    .clients__slider
      .clients__slider-wrapper.swiper-container      
        .clients__list.swiper-wrapper
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/1arch.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/acg.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/ackye.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/agroup.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/alletf.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/alpla.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/amway.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/astellas.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/atlant.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/atlantis.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/atol.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/b1.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/b4.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/bmz.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/burger-king.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/cedrus.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/centralpart.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/computermarket.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/computershare.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/coral.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/debenhams.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/douseful.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/ecours.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/energoremont.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/eta.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/eurocabel.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/expobank.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/finval.png", alt="")
          .clients__item.swiper-slide
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/fosborn.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/fskvadrat.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/ftbl.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/gazprom.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/gazprom-salavat.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/gidrozo.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/glav.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/gorod495.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/home-credit.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/ildebote.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/intercolor.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/jura.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/kinetic.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/lav.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/lotte.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/luxor.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/magazibo.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/master.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/mchs.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/megafon.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/megaplys.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/miratorg.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/mistral.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/mo-bti.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/monolit.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/mosfa.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/mtk.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/mts.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/neft.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/nettrader.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/nlmk_lipetsk.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/nm.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/nordtex.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/nort.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/npmos.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/olimp.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/optan.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/passaj.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/pgbooks.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/pgk.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/plastgroup.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/platformix.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/ppf.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/primegroup.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/prsd.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/qwell.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/ramt.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/re100.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/renesans.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/rostelecom.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/rs.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/rs-cb.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/RTK.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/rusagro.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/rway.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/rwayonline.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/samolet.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/shtokman.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/SNS.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/sst.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/stroika.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/stroisezon.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/tmc.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/tnk.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/tradeinvest.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/Transneft.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/ufps.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/umpo.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/valenta-farm.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/vesta.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/vixt.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/vmj.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/wildberries.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/worldskills.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/x5-retail-group.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/yantar.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/yeint.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/yescredit.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/zn.png", alt="")
      .clients__slider-btn-prev
      .clients__slider-btn-next

section.section-tiles
  .container
    .section-tiles__list
      .section-tiles__item
        .tile
          a(href="/soft/")
            h2.tile__title Корпоративные информационные системы
            .tile__content
              p Комплексная автоматизация деятельности компании и интеграция бизнес-приложений
      .section-tiles__item
        .tile
          a(href="/portal/")
            h2.tile__title Корпоративные порталы SharePoint
            .tile__content
              p Корпоративный портал от эксперта в отрасли для автоматизации бизнес-процессов и повышения эффективности компании
      .section-tiles__item
        .tile
          a(href="/machine-learning/")
            h2.tile__title Машинное обучение
            .tile__content
              p Решение бизнес-проблем с применением технологий искусственного интеллекта
      .section-tiles__item
        .tile
          a(href="/soft/blockchain/")
            h2.tile__title Blockchain технологии
            .tile__content
              p Разработка приложений и автоматизация бизнес-процессов с использованием блокчейн технологий

section.features
  header.features__header.g-heading.g-heading--blue-bg
    .container
      h2.g-heading__title
        a(href="/company/") Наши преимущества
  .container
    .feauteres__content
      ul.custom-list
        li.custom-list__item компания основана в 2003 году – более 10 лет опыта создания IT-решений
        li.custom-list__item мы выстраиваем долгосрочные партнерские отношения с клиентами для достижения стратегических целей посредством внедрения инновационных IT-решений
        li.custom-list__item наши сотрудники - специалисты высокого уровня с глубокими отраслевыми и профессиональными знаниями, прошедшие сертификацию Microsoft
        li.custom-list__item все исходные коды прокта передаются по его завершению в открытом виде – вы можете сопровождать решение самостоятельно без потери гарантии
        li.custom-list__item разработка прототипов форм решения для обеспечения максимального удобства использования и эргономики
        li.custom-list__item разработка прототипов форм решения для обеспечения максимального удобства использования и эргономики
        li.custom-list__item итеративный подход к разработке – первая пилотная версия проекта будет предоставлена уже через несколько недель послестарта
        li.custom-list__item служба поддержки пользователей в режиме 24/7/365 – ваш проект будет работать без сбоев
        li.custom-list__item оперативный выезд аналитиков и технических специалистов для встречи в вашем офисе – значительная экономия времени ваших сотрудников
        li.custom-list__item бесплатные обучение и консультации ваших сотрудников
        li.custom-list__item постоянная on-line доступность всех участников рабочей группы – вы всегда будете в курсе всех событий проекта
        li.custom-list__item поэтапная система оплаты по удобному графику
        li.custom-list__item гарантия на все работы и на весь срок эксплуатации