section.info-section
  .g-heading.g-heading--lightblue-bg 
    .container
      h2.g-heading__title Интеграция приложений
  .container
    .info-section__textual
      p  Актуальность вопросов интеграции информационных систем становится все более и более актуальным. ИТ-инфраструктура большинства состоит из большого количества бизнес-приложений и информационных систем, выполняющих самые разные задачи - поддержка бухгалтерии, HR, управление производством, складом и т. д. С ростом бизнеса и внедрением новых приложений «лоскутное одеяло» корпоративных информационных систем становится все более пестрым и разнородным.
      p Интеграция корпоративных информационных систем позволяет решить множество задач:
      ul.custom-list
        li.custom-list__item обеспечить сквозную передачу данных между системами, что позволит оперативно насыщать информацией существующие системы, экономя на вводе информации
        li.custom-list__item создать унифицированное хранилище данных построения консолидированных отчетов, построенных на данных из разных систем
        li.custom-list__item расширить функционал существующих систем, передавая данные в другие системы, тем самым сэкономив время и усилия на расширение функционала или миграцию на новую информационную систему

      p После интеграции информационных систем компании
      ul.custom-list
        li.custom-list__item создается единое для всех сотрудников информационное пространство
        li.custom-list__item снижается стоимость владения и развития информационных систем
        li.custom-list__item повышается эффективность и точность бизнес-процессов за счет однократного ввода данных во все системы, оперативного обмена информацией, доступности всех данных и отчетности