include ../includes/_main-slider

section.about
  .container
    h2.about__title Корпоративный портал на платформе Microsoft SharePoint
    .about__row.row
      .about__text.col-md-6
        p Microsoft SharePoint Server — это новейшая серверная платформа Microsoft для разработки корпоративных порталов, работающих в режиме 24/7. С помощью готового корпоративного портала <a href="/portal/sharepoint/" class="about__link underlined">inlnPortal 2013</a> в кратчайший срок ваша компания сможет автоматизировать бизнес-процессы, получить инструмент совместной работы сотрудников, корпоративного поиска и бизнес-аналитики. Корпоративный портал <a href="/portal/sharepoint/" class="about__link underlined">inlnPortal 2013</a> включает в себя следующие разделы:
        ul.custom-list
          li.custom-list__item Компания - информация о компании, руководство, структура, документы, ориентация новых сотрудников
          li.custom-list__item Бизнес-процессы и заявки - типовые и расширяемые бизнес-процессы для автоматизации деятельности сотрудников
          li.custom-list__item Сервисы - разнообразные сервисы для сотрудников компании: справочники, вопросы-ответы, объявления, чаты, вопросы руководителю
          li.custom-list__item Документы - файловое хранилище с разграничением доступа
          li.custom-list__item Корпоративный поиск

      .about__img.col-md-4
        img(src="img/general/imdex-about-lamp-bg.png", alt="lamp")

    .about__footer
      a.btn.btn--more.btn--lightgreen(href="/company/clients/") Узнать больше

section.info-section
  header.g-heading.g-heading--blue-bg
    .container
      h2.g-heading__title Повышение продуктивности и эффективности вашей компании с порталом Microsoft SharePoint
  .container
    .info-section__textual
      p Создание бизнес-приложений на платформе Microsoft SharePoint является одной из основных компетенций нашей компании в области разработки заказного ПО. Нами был создан ряд крупных корпоративных решений для нескольких десятков компаний и организаций. Мы реализуем автоматизацию типовых и нетиповых бизнес-процессов компании, осуществляем миграцию данных в более современные версии платформы Microsoft SharePoint, обладающие унифицированной инфраструктурой и большим количеством настраиваемых функций. 

      p Microsoft SharePoint – платформа для систем нового поколения в области управления корпоративными коммуникациями и контентом, которое Microsoft позиционирует как бизнес-платформу для объединения корпоративных коммуникаций на базе web-технологий. 

      p Microsoft SharePoint обеспечивает поддержку совместной работы в самом широком смысле этого слова и помогает коллегам, партнерам и клиентам организовывать совместную работу новым, более эффективным способом. Платформа SharePoint может служить основой для разработки различных информационных систем организации и интеграции используемых систем сторонних производителей. SharePoint обеспечит единую точку доступа пользователей к функциональности основных информационных систем организации. Консолидация решений для совместной работы на платформе SharePoint способствует сокращению расходов на обучение персонала и техническую поддержку, а также увеличению производительности труда сотрудников.

section.feedback-form
  .container
    .feedback-form__top
      header.g-heading.g-heading--orange.g-heading--center.g-heading--nopadding
        h2.g-heading__title Автоматизация бизнес-процессов, HR-портал и внутренние коммуникации - интранет-портал SharePoint
      .feedback-form__top-text Мы перезвоним вам в течение 1 минуты
  
    .feedback-form__wrap
      .feedback-form__input.feedback-form__input--inline-b
        input.feedback-form__field(type="text" placeholder="Ваше имя")
      .feedback-form__input.feedback-form__input--inline-b
        input.feedback-form__field(type="text" placeholder="E-mail")
      .feedback-form__input.feedback-form__input--inline-b
        input.feedback-form__field(type="text" placeholder="Телефон")
      .feedback-form__input.feedback-form__input--inline-b
        button.feedback-form__field.btn.btn--more.btn--lightgreen(type="submit") Попробовать бесплатно
      
section.info-section
  header.g-heading.g-heading--violet-bg.info-section__heading
    .container
      h2.g-heading__title Комплексное сопровождение порталов Microsoft SharePoint  
  .container
    .row
      .col-md-4
        .info-section__img.info-section__img--mt10
          img(src="img/content/home-round.png", alt="")
      .col-md-8
        .info-section__textual
          p Непрерывность бизнес-процессов - один из главных факторов эффективности и успешности компании. Комплексное сопровождение позволит передать развитие и техническую поддержку ваших информационных систем квалифицированному надежному партнеру и обеспечить его работу в режиме 24/7/365. Сопровождение оказывается на основе сервисных соглашений (SLA, Service Level Agreement), фиксирующих перечень услуг, скорость реакции и качество услу
          p Услуги по сопровождению и развитию портала включают в себя

        ul.custom-list
          li.custom-list__item информационный аудит
          li.custom-list__item расширение функций существующих решений
          li.custom-list__item сопровождение решений собственной разработки и созданных сторонними подрядчиками
          li.custom-list__item редизайн и улучшение эргономики
          li.custom-list__item обновление и миграцию ПО на новые платформы
          li.custom-list__item улучшение характеристик портала (быстродействия, отказоустойчивости, надежности, ...)
          li.custom-list__item исправление дефектов

section.info-section.info-section--about-company
  header.g-heading.g-heading--orange-bg.info-section__heading
    .container
      h2.g-heading__title О компании
  .container
    .info-section__textual
      p Инлайн - это инновационная IT-компания, предоставляющая полный комплекс услуг по разработке <a class="orange" href="/soft/">программного обеспечения</a>, <a class="orange" href="/portal/">корпоративных порталов Microsoft SharePoint</a>, <a class="orange" href="/web/">Internet-сайтов</a> и систем электронного документооборота на основе новейших технологий Microsoft. Уже более 14 лет мы создаем инновационные IT-решения для обеспечения стабильного роста бизнеса наших клиентов. Мы предоставляем полный спектр услуг - начиная от разработки IT-стратегии развития компании и до сопровождения, а также предлагаем комплексный подход к управлению проектами. Это позволяет нам в кратчайшие сроки разрабатывать надежные IT-решения и информационные системы любой сложности, работающие 24 часа 7 дней в неделю.

    a.btn.btn--lightgreen.btn--more(href="/") Узнать больше
    
    .info-section__textual
      p Наши клиенты - это лидеры российской и мировой экономики. Среди них - ОАО «Газпром», ОАО «МТС», ОАО «Ростелеком», ОАО «ТНК-BP», АПХ «Мираторг», УФПС МО «Почта России», ООО «Экспобанк», ООО «Корал Тревел», ОАО «Новолипецкий Металлургический Комбинат», ОАО «Первая грузовая компания» и многие другие.

section.clients
  .container
    .clients__slider
      .clients__slider-wrapper.swiper-container      
        .clients__list.swiper-wrapper
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/1arch.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/acg.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/ackye.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/agroup.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/alletf.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/alpla.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/amway.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/astellas.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/atlant.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/atlantis.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/atol.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/b1.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/b4.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/bmz.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/burger-king.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/cedrus.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/centralpart.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/computermarket.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/computershare.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/coral.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/debenhams.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/douseful.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/ecours.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/energoremont.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/eta.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/eurocabel.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/expobank.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/finval.png", alt="")
          .clients__item.swiper-slide
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/fosborn.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/fskvadrat.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/ftbl.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/gazprom.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/gazprom-salavat.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/gidrozo.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/glav.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/gorod495.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/home-credit.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/ildebote.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/intercolor.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/jura.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/kinetic.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/lav.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/lotte.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/luxor.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/magazibo.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/master.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/mchs.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/megafon.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/megaplys.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/miratorg.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/mistral.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/mo-bti.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/monolit.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/mosfa.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/mtk.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/mts.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/neft.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/nettrader.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/nlmk_lipetsk.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/nm.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/nordtex.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/nort.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/npmos.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/olimp.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/optan.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/passaj.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/pgbooks.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/pgk.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/plastgroup.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/platformix.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/ppf.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/primegroup.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/prsd.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/qwell.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/ramt.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/re100.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/renesans.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/rostelecom.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/rs.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/rs-cb.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/RTK.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/rusagro.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/rway.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/rwayonline.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/samolet.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/shtokman.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/SNS.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/sst.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/stroika.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/stroisezon.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/tmc.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/tnk.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/tradeinvest.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/Transneft.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/ufps.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/umpo.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/valenta-farm.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/vesta.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/vixt.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/vmj.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/wildberries.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/worldskills.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/x5-retail-group.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/yantar.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/yeint.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/yescredit.png", alt="")
          .clients__item.swiper-slide
            img.swiper-lazy(data-src="img/content/clients/zn.png", alt="")
      .clients__slider-btn-prev
      .clients__slider-btn-next

section.info-section
  header.g-heading.g-heading--blue-bg.info-section__heading
    .container
      h2.g-heading__title Возможности и преимущества SharePoint
  .container
    .info-section__tiles.tiles
      .tiles__list
        .tiles__item
          .tile
            a(href="/soft/")
              h2.tile__title Корпоративные порталы SharePoint
              .tile__content
                p Корпоративный портал от эксперта в отрасли для автоматизации бизнес-процессов и повышения эффективности компании
        .tiles__item
          .tile
            a(href="/portal/")
              h2.tile__title Совместная работа
              .tile__content
                p Эффективная платформа для коммандной работы и обмена информации внутри компании
        .tiles__item
          .tile
            a(href="/machine-learning/")
              h2.tile__title Корпоративный поиск
              .tile__content
                p Универсальный механизм поиска по всем информационным ресурсам компании и за ее пределами
        .tiles__item
          .tile
            a(href="/soft/blockchain/")
              h2.tile__title Бизнес-процессы
              .tile__content
                p Автоматизация бизнес-процессов компании и BI для анализа информации и отчетности в реальном времени
    .info-section__content.advantages-sharepoint
      ul.advantages-sharepoint__list
        li.advantages-sharepoint__item
          h2.advantages-sharepoint__title
            a(href="/") Совместная работа
          p Корпорация Microsoft предлагает наилучшую инфраструктуру совместной работы, предоставляющую конечным пользователям средства создания собственных рабочих областей и совместного использования ресурсов разными группами, отделами и организациями, выполняя при этом управление с помощью информационных технологий. Инфраструктура совместной работы, использующая существующие инструменты, является расширяемой и обеспечивает совместимость с другими системами. Поэтому организациям дешевле и легче поддерживать и создавать единую инфраструктуру в интересах бизнеса. 
        li.advantages-sharepoint__item
          h2.advantages-sharepoint__title
            a(href="/") Корпоративные порталы 
          p Узлы порталов обеспечивают доступ сотрудников к важной деловой информации, накопленному опыту и приложениям. Microsoft SharePoint Server является платформой мирового класса для порталов предприятий, которая облегчает создание и поддержку узлов порталов для любых потребностей. Быстрый и простой доступ к важной информации и накопленному опыту позволяет принимать более продуманные решения и обеспечивает повышение производительности. Консолидированный доступ к существующим бизнес-приложениям обеспечивает согласованное выполнение стандартных бизнес-задач. Упрощенная разработка составных приложений может на порядок повысить эффективность важных бизнес-процессов. Персонализированное предоставление информации повышает ее актуальность и ценность. 
        li.advantages-sharepoint__item
          h2.advantages-sharepoint__title
            a(href="/") Корпоративный поиск 
          p Microsoft SharePoint Server 2013 поддерживает решение корпоративного поиска для организаций, которым требуется повысить производительность работы и снизить загруженность информацией, предоставив своим сотрудникам, партнерам и клиентам возможность находить нужный контент в различных хранилищах и форматах. Благодаря результатам поиска с поддержкой действий и разрешений безопасности SharePoint Server позволяет находить не только данные в документах и хранилищах, но и находить нужных сотрудников и навыки в организациях. 

        li.advantages-sharepoint__item
          h2.advantages-sharepoint__title
            a(href="/") Бизнес-процессы 
          p В Microsoft SharePoint Server 2013 предусмотрены встроенные шаблоны бизнес-процессов для автоматизации процессов утверждения, рецензирования и архивации. С помощью SharePoint Server 2013 можно создавать, поддерживать и анализировать бизнес-процессы, что позволяет упорядочить совместную работу. Неотъемлемой частью таких процессов являются электронные формы, предоставляемые посредством служб форм InfoPath. Эти электронные формы InfoPath упрощают сбор и проверки информации для бизнес-процессов. Можно собирать информацию непосредственно из ежедневно используемых клиентских приложений Microsoft Office. 
        li.advantages-sharepoint__item
          h2.advantages-sharepoint__title
            a(href="/") Бизнес-анализ 
          p Система бизнес-аналитики в SharePoint Server обеспечивает инфраструктуру, позволяющую получать доступ к нужным данным из любого места и в любое время. Пользователи могут получать своевременную информацию там, где они работают, сотрудничать и принимать решения при работе на настольных ПК или через Интернет. Подключение внешних данных к приложениям с помощью каталога бизнес-данных позволяет заложить основу для поиска данных средствами бизнес-аналитики. Каталог бизнес-документов, входящий в состав SharePoint Server, упрощает процесс обнаружения и доступа к данным, находящимся в бизнес-приложениях. 

section.feedback-form
  .container
    .feedback-form__top
      header.g-heading.g-heading--orange.g-heading--center.g-heading--nopadding
        h2.g-heading__title Автоматизация бизнес-процессов, HR-портал и внутренние коммуникации - интранет-портал SharePoint
      .feedback-form__top-text Мы перезвоним вам в течение 1 минуты
  
    .feedback-form__wrap
      .feedback-form__input.feedback-form__input--inline-b
        input.feedback-form__field(type="text" placeholder="Ваше имя")
      .feedback-form__input.feedback-form__input--inline-b
        input.feedback-form__field(type="text" placeholder="E-mail")
      .feedback-form__input.feedback-form__input--inline-b
        input.feedback-form__field(type="text" placeholder="Телефон")
      .feedback-form__input.feedback-form__input--inline-b
        button.feedback-form__field.btn.btn--more.btn--lightgreen(type="submit") Попробовать бесплатно

section.features
  header.features__header.g-heading.g-heading--blue-bg
    .container
      h2.g-heading__title
        a(href="/company/") Наши преимущества
  .container
    .feauteres__content
      ul.custom-list
        li.custom-list__item компания основана в 2003 году – более 10 лет опыта создания IT-решений
        li.custom-list__item мы выстраиваем долгосрочные партнерские отношения с клиентами для достижения стратегических целей посредством внедрения инновационных IT-решений
        li.custom-list__item наши сотрудники - специалисты высокого уровня с глубокими отраслевыми и профессиональными знаниями, прошедшие сертификацию Microsoft
        li.custom-list__item все исходные коды прокта передаются по его завершению в открытом виде – вы можете сопровождать решение самостоятельно без потери гарантии
        li.custom-list__item разработка прототипов форм решения для обеспечения максимального удобства использования и эргономики
        li.custom-list__item разработка прототипов форм решения для обеспечения максимального удобства использования и эргономики
        li.custom-list__item итеративный подход к разработке – первая пилотная версия проекта будет предоставлена уже через несколько недель послестарта
        li.custom-list__item служба поддержки пользователей в режиме 24/7/365 – ваш проект будет работать без сбоев
        li.custom-list__item оперативный выезд аналитиков и технических специалистов для встречи в вашем офисе – значительная экономия времени ваших сотрудников
        li.custom-list__item бесплатные обучение и консультации ваших сотрудников
        li.custom-list__item постоянная on-line доступность всех участников рабочей группы – вы всегда будете в курсе всех событий проекта
        li.custom-list__item поэтапная система оплаты по удобному графику
        li.custom-list__item гарантия на все работы и на весь срок эксплуатации

