section.main-slider.swiper-container
  .main-slider__list.swiper-wrapper
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/x5.jpg')
      .container
        h2.main-slider__title X5 Retail Group        
        h3.main-slider__subtitle ведущая розничная сеть России        
        .main-slider__item-descr        
          p Разработка информационных систем компании на платформах            
          p Microsoft SharePoint/Microsoft Project Server
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/gazprom.jpg')
      .container        
        h2.main-slider__title Газпром          
        h3.main-slider__subtitle крупнейшая газодобывающая компания в мире
        .main-slider__item-descr
          p Разработка корпоративной информационной системы обучения и сертификации сотрудников на платформе Microsoft SharePoint
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/rostelecom.jpg')
      .container        
        h2.main-slider__title Ростелеком        
        h3.main-slider__subtitle телекоммуникационная компания        
        .main-slider__item-descr
          p Сопровождение и техническая поддержка корпоративного портала Microsoft SharePoint
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/coral.jpg')
      .container        
        h2.main-slider__title Coral Travel        
        h3.main-slider__subtitle Туроператор №1, работающий в 26 странах мира
        .main-slider__item-descr
          p Разработка и сопровождение сайта для работы партнерских агентств по всей России и интеграция с системой бронирования Eagle Eye
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/megafone.jpg')
      .container        
        h2.main-slider__title Мегафон Ритейл
        h3.main-slider__subtitle крупнейшая сеть из 1800 салонов связи
        .main-slider__item-descr
          p Создание информационной системы для поддержки бизнес-процессов филиальной сети компании по всей России
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/shtokman.jpg')
      .container
          h2.main-slider__title Штокман          
          h3.main-slider__subtitle международная газодобывающая компания
          .main-slider__item-descr
            p Сопровождение корпоративного портала Microsoft SharePoint
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/bk.jpg')
      .container        
        h2.main-slider__title Burger King        
        h3.main-slider__subtitle крупнейшая сеть ресторанов быстрого питания        
        .main-slider__item-descr
          p Разработка бонусной карточной системы 
          p для посетителей ресторанов сети
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/zarubezhneft.jpg')
      .container        
        h2.main-slider__title Зарубежнефть          
        h3.main-slider__subtitle международная нефтегазовая компания
        .main-slider__item-descr          
          p Информационные системы для совместной работы и планирования деятельности компании
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/glavcosmos.jpg')
      .container        
        h2.main-slider__title Главкосмос        
        h3.main-slider__subtitle ведущее российское ракетно-космическое предприятие        
        .main-slider__item-descr
          p Разработка информационных систем компании на платформе
          p Microsoft SharePoint Server
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/mts.jpg')
      .container        
        h2.main-slider__title МТС Ритейл
        h3.main-slider__subtitle Крупнейшее подразделение, работающее по всей стране        
        .main-slider__item-descr
          p Разработка механизмов геймификации для корпоративного портала компании
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/nlmk.jpg')
      .container        
        h2.main-slider__title НЛМК          
        h3.main-slider__subtitle одна из крупнейших металлургических компаний
        .main-slider__item-descr
          p Разработка и сопровождение сайтов для российских и зарубежных предприятий металлургического холдинга НЛМК
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/luxor.jpg')
      .container
        h2.main-slider__title Люксор          
        h3.main-slider__subtitle Сеть кинотеатров в 11 городах по всей стране
        .main-slider__item-descr
          p Разработка сайта и системы online-бронирования билетов для сети кинотеатров
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/tnk.jpg')
      .container
        h2.main-slider__title ТНК-BP
        h3.main-slider__subtitle Одна из крупнейших российских нефтяных компаний
        .main-slider__item-descr
          p Разработка информационной системы для автоматизации работы топливный карт Магистраль
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/ppf.jpg')
      .container        
        h2.main-slider__title PPF страхование
        h3.main-slider__subtitle международный финансово-страховой холдинг
        .main-slider__item-descr
          p Создание интегрированной информационной
          //- p системы комплексной автоматизации работы 
          //- p страховой компании
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/miratorg.jpg')
      .container
        h2.main-slider__title Мираторг
        h3.main-slider__subtitle производитель мяса № 1 в России
        .main-slider__item-descr
          p Разработка системы электронного документооборота на платформе Microsoft SharePoint Server
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/pgk.jpg')
      .container
        h2.main-slider__title ПГК
        h3.main-slider__subtitle крупнейший оператор железнодорожных перевозок
        .main-slider__item-descr
          p Разработка систем электронного документооборота и автоматизации деятельности компании
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/astellas.jpg')
      .container
        h2.main-slider__title Astellas
        h3.main-slider__subtitle одна из крупнейших фармацевтических компаний в мире
        .main-slider__item-descr
          p Разработка корпоративного портала на платформе Microsoft SharePoint
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/homecredit.jpg')
      .container
        h2.main-slider__title Home Credit страхование
        h3.main-slider__subtitle международный финансово-страховой холдинг
        .main-slider__item-descr
          //- p Создание интегрированной информационной
          //- p системы комплексной автоматизации работы
          //- p страховой компании
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/mobti.jpg')
      .container
        h2.main-slider__title БТИ Московской области
        h3.main-slider__subtitle крупнейшее ГУП, предоставляющее услуги в сфере недвижимости
        .main-slider__item-descr
          p Разработка корпоративного портала на платформе Microsoft SharePoint
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/valenta.jpg')
      .container
        h2.main-slider__title Валента Фарм
        h3.main-slider__subtitle крупнейшая российская фармацевтическа компания
        .main-slider__item-descr
          p Разработка корпоративного портала на платформе Microsoft SharePoint
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/renis.jpg')
      .container
        h2.main-slider__title Ренессанс страхование
        h3.main-slider__subtitle крупная универсальная страховая компания
        .main-slider__item-descr
          p Разработка ПО для страховщика  
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/rtk.jpg')
      .container
        h2.main-slider__title Русская Теплоизоляционная компания
        h3.main-slider__subtitle производитель инновационной тепловой изоляции
        .main-slider__item-descr
          p Разработка сайта и интернет-магазина
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/rusagro.jpg')
      .container
        h2.main-slider__title Русагро
        h3.main-slider__subtitle крупнейшая российская сельскохозяйственная компания
        .main-slider__item-descr
          p Разработка корпоративного портала и сайта
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/samolet.jpg')
      .container
        h2.main-slider__title Самолет девелопмент
        h3.main-slider__subtitle крупнейших участник российского строительного рынка
        .main-slider__item-descr
          p Корпоративный портал на платформе Microsoft SharePoint
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/sns.jpg')
      .container
        h2.main-slider__title Группа компаний sns
        h3.main-slider__subtitle ведущий российский дистрибутор товаров FMCG
        .main-slider__item-descr
          p Дизайн и шаблоны корпоративного портала
    article.main-slider__item.swiper-slide.swiper-lazy(data-background='/img/banners_index/worldskills.jpg')
      .container
        h2.main-slider__title Worldskills Russia
        h3.main-slider__subtitle международное движение по развитию профессионального образования
        .main-slider__item-descr
          p Разработка программного обеспечения для соревнований
  .main-slider__pagination
  
