include ../includes/_main-slider

section.about
  .container
    h2.about__title Мобильные корпоративные решения
    .about__row.row
      .about__text.col-md-6
        p С помощью опыта компании Инлайн и современных технологий корпоративной мобильности вы можете поднять планку производительности компании на новый уровень. Глобальный доступ к данным в режиме 24х7 с молниеносной реакцией на запросы бизнеса – все это возможно с кардинальной перестройкой бизнес-процессов компании на использование мобильных решений. Компания Инлайн предлагает разработку мобильных приложений для решения задач фрон-энд и бек-энд офиса, которые полностью интегрированы с информационными системами компании.
        p Bring Your Own Device (BYOD , или дословно «Принеси свое собственное устройство») – одна из наиболее востребованных стратегий в IT. Это такой подход к организации рабочего места сотрудника, при котором он применяет принадлежащее ему устройство для доступа к информационным ресурсам компании. Например, пользователь приносит планшет, подключается с мобильного устройства к локальной сети компании и приложения для ведения бизнеса, печатает на установленных в офисе компании принтерах и т.д. По результатам опросов 89% ИТ-руководителей компаний по всему миру поддерживают BYOD в той или иной форме. Мобильность сотрудников с использованием их собственных устройств практически стала стандартным требованием для современного бизнеса. 
      .about__img.col-md-4
        img(src="img/general/imdex-about-lamp-bg.png", alt="lamp")

    .about__footer
      a.btn.btn--more.btn--lightgreen(href="/company/clients/") Узнать больше

section.info-section
  .container
    .info-section__textual
      p Решения компании Инлайн в сфере корпоративной мобильности охватывают все бизнес-процессы компании:
      ul.custom-list
        li.custom-list__item Совместная работа сотрудников
        li.custom-list__item Дашборды и KPI
        li.custom-list__item Бизнес-процессы по сложному согласованию документов
        li.custom-list__item Мониторинг данных в реальном времени
        li.custom-list__item Управление задачами и контроль исполнительской дисциплины
        li.custom-list__item Доступ к бизнес аналитике
        li.custom-list__item Управление заказами
        li.custom-list__item Анализ и отчетность
        li.custom-list__item Удаленный доступ к корпоративным документам и данным
        li.custom-list__item Корпоративные календари и адресные книги
        li.custom-list__item Управление взаимоотношениями с клиентами    
      p Распространение, безопасность и управление мобильными приложениями и устройствами является критически важными. Решения нашей компании интегрируются с большинством популярных менеджеров мобильных устройств (MDM), в том числе obileIron, Citrix’s XenMobile, Oracle’s OMSS. Приложения могут использовать Active Directory аутентификацию, Kerberos, аутентификацию с помощью сертификатов на стороне клиента, многофакторную аутентификацию, удаленное стирание информации, поддержку смарт-карт и многое другое.

section.feedback-form
  .container
    .feedback-form__top
      header.g-heading.g-heading--orange.g-heading--center.g-heading--nopadding
        h2.g-heading__title Обсудить ваш проект
      .feedback-form__top-text Мы перезвоним вам в течение 1 минуты
  
    .feedback-form__wrap
      .feedback-form__input.feedback-form__input--inline-b
        input.feedback-form__field(type="text" placeholder="Ваше имя")
      .feedback-form__input.feedback-form__input--inline-b
        input.feedback-form__field(type="text" placeholder="E-mail")
      .feedback-form__input.feedback-form__input--inline-b
        input.feedback-form__field(type="text" placeholder="Телефон")
      .feedback-form__input.feedback-form__input--inline-b
        button.feedback-form__field.btn.btn--more.btn--lightgreen(type="submit") Попробовать бесплатно

section.info-section.info-section--mob-dev
  .container
    div Мобильные приложения для бизнеса
    .row
      .col-md-8        
        img(src="img/general/mobile-dev-bg.png", alt="").center-block
    .info-section__textual 
      p Оперативный доступ, легкое управление, работа c документами в любой точке мира с мобильных устройств. Повышайте эффективность управления бизнес-процессами, взаимодействия сотрудников, использования корпоративных ресурсов путем предоставления мобильного доступа к информации, базам знаний и системам управления контентом Развивайте продажи путем внедрения инструментов мобильной коммерции, связанных со всеми звеньями цепочки продаж. Используйте современные технологи как маркетинговый инструмент для выстраивания прочных связей клиентов с вашим брендом.