include ../includes/_contacts
include ../includes/_logo
include ../includes/_main-nav

header.page-header
  .container
    
    .page-header__logo
      +logo

    .page-header__nav
      +main-nav
      
    .page-header__contacts
      +contacts
