mixin portal-about()
  section.about
    .container
      h2.about__title Корпоративный портал на платформе Microsoft SharePoint
      .about__row.row
        .about__text.col-md-6
          p Microsoft SharePoint Server — это новейшая серверная платформа Microsoft для разработки корпоративных порталов, работающих в режиме 24/7. С помощью готового корпоративного портала <a href="/portal/sharepoint/" class="about__link underlined">inlnPortal 2013</a> в кратчайший срок ваша компания сможет автоматизировать бизнес-процессы, получить инструмент совместной работы сотрудников, корпоративного поиска и бизнес-аналитики. Корпоративный портал <a href="/portal/sharepoint/" class="about__link underlined">inlnPortal 2013</a> включает в себя следующие разделы:
          ul.custom-list
            li.custom-list__item Компания - информация о компании, руководство, структура, документы, ориентация новых сотрудников
            li.custom-list__item Бизнес-процессы и заявки - типовые и расширяемые бизнес-процессы для автоматизации деятельности сотрудников
            li.custom-list__item Сервисы - разнообразные сервисы для сотрудников компании: справочники, вопросы-ответы, объявления, чаты, вопросы руководителю
            li.custom-list__item Документы - файловое хранилище с разграничением доступа
            li.custom-list__item Корпоративный поиск

        .about__img.col-md-4
          img(src="img/general/imdex-about-lamp-bg.png", alt="lamp")

      .about__footer
        a.btn.btn--more.btn--lightgreen(href="/company/clients/") Узнать больше